In [1]:
#  Necessary Dependencies
import pandas as pd

In [2]:
# Required Data Set

jan_yellow = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet'

In [3]:
df = pd.read_parquet(jan_yellow)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [6]:
# List of columns in the jan_yellow dataset
print(df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [7]:
# Number of column in the dataset for jan_yellow
num_cols = len(df.columns)

print(f"There are {num_cols} number of columns in the dataset")

There are 19 number of columns in the dataset

## Computing The Duration

In [8]:
## Converting the folowing columns to datatime: "tpep_pickup_datetime	and tpep_dropoff_datetime"

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [9]:
# Computing the duration of a ride in minutes

df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [10]:
# The updated dataset with the duration column added to it
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [11]:
(df['duration'].head())

0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
Name: duration, dtype: float64

In [12]:
print("The duration of a taxi ride in minutes: ")
print(df[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'duration']].head())

The duration of a taxi ride in minutes:
  tpep_pickup_datetime tpep_dropoff_datetime   duration
0  2023-01-01 00:32:10   2023-01-01 00:40:36   8.433333
1  2023-01-01 00:55:08   2023-01-01 01:01:27   6.316667
2  2023-01-01 00:25:04   2023-01-01 00:37:49  12.750000
3  2023-01-01 00:03:48   2023-01-01 00:13:25   9.616667
4  2023-01-01 00:10:29   2023-01-01 00:21:19  10.833333

In [13]:
## Summary statistics of the duration of the ride 
df['duration'].describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [14]:
# The Standard Deviation of the duration of trips in January

january_durations = df[df['tpep_pickup_datetime'].dt.month == 1]['duration']
january_durations.head()

0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
Name: duration, dtype: float64

In [15]:
# Calculating the Standard Deviation using numpy
import numpy as np

std_duration = np.sqrt(np.mean((january_durations - np.mean(january_durations)) ** 2))
print(f"The Standard Deviation of the trip in January: {std_duration}")

The Standard Deviation of the trip in January: 42.585634821078656

## Dropping outliers

In [16]:
# Calculating the number of records in the dataset (Jan_yellow) before removing outliers

total_records_before = len(df)
print(f"Total number of records before removing the outlier: {total_records_before}")

Total number of records before removing the outlier: 3066766

In [17]:
# # Records with duration between 1 and 60 minutes
# df_records = df[(df['duration'] >= 1) & (df['duration'] <= 60)]

df_records = df.loc[(df['duration'] >= 1) & (df['duration'] <= 60)].copy()

total_records_after = len(df_records)
print(f"Total records afters; {total_records_after}")

Total records afters; 3009173

In [18]:
# Calculate the fraction of records remaining as a percentage
percentage_remaining = (total_records_after / total_records_before) * 100
print(f"The fraction of the records left after dropping the outliers: {percentage_remaining: .2f}%")

The fraction of the records left after dropping the outliers:  98.12%

## One-hot encoding

In [19]:
from sklearn.feature_extraction import DictVectorizer

In [20]:
# Recast IDs to strings for one-hot encoding
df_records.loc[:, 'PULocationID'] = df_records['PULocationID'].apply(str)
df_records.loc[:, 'DOLocationID'] = df_records['DOLocationID'].apply(str)

# Convert to a list of dictionaries
data_dicts = df_records[['PULocationID', 'DOLocationID']].to_dict(orient='records')

/tmp/ipykernel_112575/2564168330.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['161' '43' '48' ... '114' '230' '262']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_records.loc[:, 'PULocationID'] = df_records['PULocationID'].apply(str)
/tmp/ipykernel_112575/2564168330.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['141' '237' '238' ... '239' '79' '143']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_records.loc[:, 'DOLocationID'] = df_records['DOLocationID'].apply(str)

In [21]:
# Initialize and fit DictVectorizer
dv = DictVectorizer()
X = dv.fit_transform(data_dicts)

# Target variable
y = df_records['duration']

num_columns = X.shape[1]

print(f"The dimensionality of the matrix (number of columns) after one-hot encoding is: {num_columns}")

The dimensionality of the matrix (number of columns) after one-hot encoding is: 515

## Training the Model

  - Using Linear Regression

In [22]:
## Necessary dependencies
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [23]:
# Linear Regression Model
lin_reg = LinearRegression()
lin_reg.fit(X, y)
y_pred_lin = lin_reg.predict(X)
rmse_lin = np.sqrt(mean_squared_error(y, y_pred_lin))

In [24]:
print("Model Result:")
print(f"RMSE Result for Linear Regression: {rmse_lin}")

Model Result:
RMSE Result for Linear Regression: 7.6492624397080675

## Evaluating The Model

- Applying the model above to the validation dataset for (February 2023 i.e feb_yellow).

In [25]:
feb_yellow = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet'

In [26]:
feb_df = pd.read_parquet(feb_yellow)
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [27]:
# Converting the following columns to datetime value (tpep_pickup_datetime & tpep_dropoff_datetime)
feb_df['tpep_pickup_datetime'] = pd.to_datetime(feb_df['tpep_pickup_datetime'])
feb_df['tpep_dropoff_datetime'] = pd.to_datetime(feb_df['tpep_dropoff_datetime'])

In [28]:
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [29]:
# Confirming the conversion
print(feb_df.dtypes[['tpep_pickup_datetime', 'tpep_dropoff_datetime']])

tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
dtype: object

In [30]:
# Calculating duration in minutes
feb_df['duration'] = (feb_df['tpep_dropoff_datetime'] - feb_df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [31]:
feb_df['duration'].head()

0     1.683333
1     0.233333
2     0.233333
3    32.083333
4    13.300000
Name: duration, dtype: float64

In [32]:
# Filtering the duration of the ride between 1 and 60 minutes
feb_records = feb_df[(feb_df['duration'] >= 1) & (feb_df['duration'] <= 60)]

print(f"Remaining records after filtering: {len(feb_records)}")

Remaining records after filtering: 2855951

In [33]:
# Converting to strings to avoid label encoding
feb_records.loc[:, 'PULocationID'] = feb_records['PULocationID'].apply(str)
feb_records.loc[:, 'DOLocationID'] = feb_records['DOLocationID'].apply(str)

/tmp/ipykernel_112575/1688997673.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['142' '132' '161' ... '158' '79' '161']' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  feb_records.loc[:, 'PULocationID'] = feb_records['PULocationID'].apply(str)
/tmp/ipykernel_112575/1688997673.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['163' '26' '145' ... '143' '162' '140']' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  feb_records.loc[:, 'DOLocationID'] = feb_records['DOLocationID'].apply(str)

In [ ]:
# Reducing the validation dataset to 500,000 samples and Selecting relevant columns for one-hot encoding

reduce_data = 500000
sampled_feb_records = feb_records.sample(reduce_data, random_state=42)

In [35]:
# Extracting the target variable from the sampled data
y_val = sampled_feb_records['duration'].values

In [36]:
# Selecting relevant columns for one-hot encoding
feb_data = sampled_feb_records[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [37]:
# Using the same DictVectorizer instance (fitted on training data)
X_val = dv.transform(feb_data)

In [38]:
# Verifying the dimensions
print(f"Validation matrix shape: {X_val.shape}")
print(f"Validation target shape: {y_val.shape}")

Validation matrix shape: (500000, 515)
Validation target shape: (500000,)

In [39]:
# Predicting & Evaluation

y_pred_lr = lin_reg.predict(X_val)

In [40]:
rmse_lr = np.sqrt(mean_squared_error(y_val, y_pred_lr))
print(f"Validation RMSE: {rmse_lr:.2f}")

Validation RMSE: 7.82